@include bgcolor-list();
@include fontcolor-list();
@include padding-list();
@include margin-list();

html {
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
}

*:focus{
  outline: none!important;
}

body {
}



// divider
hr.divider{
  border-top: none;
  border-bottom: none;
  margin-bottom: rem-calc(40);
}

//Image around

.image-round {
  border-radius: 100%;
  width: rem-calc(60);
  height: rem-calc(60);
  overflow: hidden;

  &.profile {
    width: rem-calc(60);
    height: rem-calc(60);
  }
}

//

.my-sizer-element {
  width: 300px;
}

// OVERLAY
.overlay,.overlay-primary,.overlay-secondary,.overlay-white{
  position: relative;
  background-size: cover;
  background-position: center center;
  &:before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .6;
    z-index: 1;
  }
  &.overlay-primary{
    &:before{
      background: $primary-color;
    }
  }
  &.overlay-secondary{
    &:before{
      background: $secondary-color;
    }
  }
  &.overlay-white{
    &:before{
      background: $white;
    }
  }
  .grid-container{
    position: relative;
    z-index: 1;
  }
}

