{{ "<!-- Block Testimonial -->" | safeHTML }}
<section>
    <div id="testimonial" class="grid-container full b-c-dark-gray block">
        <div class="grid-container">
            <div class="grid-x gid-padding-x text-center align-center">
                <div class="cell small-12 medium-10 ">
                    {{ $filter := .Params.testimonial }}
                    <ul class="no-bullet testimonial-item">
                        {{with .Site.GetPage "testimonials" }}
                            {{ range where .Pages ".Params.name" $filter }}
                                    <li>
                                        <div class="content">{{.Params.text |  markdownify }}</div>
                                        <div class="profile">
                                            <div class="profile-img">
                                                <img class="image-round" src="{{.Params.profile}}" alt="{{.Params.name}}">
                                            </div>
                                            <div class="profile-name">
                                                {{.Params.name}}
                                            </div>
                                            <div class="profile-position">
                                                {{.Params.position}} of {{.Params.company}}
                                            </div>
                                        </div>
                                    </li>
                            {{end}}
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Block Testimonial -->" | safeHTML }}
