{{ "<!-- Block Testimonial -->" | safeHTML }}
<section>
    <div id="testimonial" class="grid-container full b-c-dark-gray block">
        <div class="grid-container">
            <div class="grid-x gid-padding-x text-center align-center">
                <div class="cell small-12 medium-10 ">
                    {{ $filter := .Params.testimonial }}
                    <ul class="no-bullet">
                        {{with .Site.GetPage "testimonials" }}
                            {{ range where .Pages ".Params.name" $filter }}
                                    <li>
                                        {{.Title}}
                                        {{.Params.name}}
                                        {{.Params.text |  markdownify }}
                                    </li>
                            {{end}}
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Block Testimonial -->" | safeHTML }}
