{{ "<!-- Block Client -->" | safeHTML }}
<section>
    <div id="clients" class="grid-container full  block">
        <div class="grid-container">
            <div class="grid-x gid-padding-x text-center align-center">
                <div class="cell small-12 medium-10 large-8 section-heading">
                    <h2>{{ .Params.clients.heading}}</h2>
                    <p>{{ .Params.clients.text}}</p>
                </div>
            </div>
        </div>
        {{ "<!-- Featured -->" | safeHTML }}
        <div class="grid-container client-feature-list">
            <div class="grid-x gid-padding-x small-up-2 medium-up-4 large-up-6 align-center">
                {{with .Params.clients.clients_featured}}
                    {{ range  . }}
                        <div class="cell">
                           {{ partial "client-link" . }}
                        </div>
                    {{end}}
                {{end}}
            </div>
        </div>
        {{ "<!--/ Featured -->" | safeHTML }}
    </div>
    <div class="grid-container full  block client-list">
        <div class="grid-container slick-slider">
            {{ $length := .Params.clients.slider_num | default 3}}
            {{with .Params.clients.clients}}
                {{ $clients := .}}
                {{ range $index, $items := . }}
                {{if eq (mod $index $length ) 0}}
                    <div class="slice-item">
                        <div class="grid-x gid-padding-x small-up-2 medium-up-4 large-up-6 align-center">
                            {{if eq $index 0}}
                                {{ range first $length $clients}}
                                    <div class="cell">
                                        {{ partial "client-link" .}}
                                    </div>
                                {{end}}
                            {{else}}
                                {{ range first $length (after $index $clients)}}
                                    <div class="cell">
                                        {{ partial "client-link" .}}
                                    </div>
                                {{end}}
                            {{end}}
                            </div>
                        </div>
                    {{end}}
                {{end}}
            {{end}}
        </div>
    </div>
</section>
{{ "<!-- / Block Client -->" | safeHTML }}
