<section>
    <div class="grid-container full b-c-secondary block f-c-white">
        <div class="grid-container">
            <h2 class=" f-c-white">Case Studies</h2>
            <div class="grid-x grid-padding small-up-1 medium-up-2 large-up-3">
                {{ range first 4 (where .Data.Pages "Type" "case-studies") }}
                <div class="ph1-ns w-50-ns flex">
                    {{ .Render "card" }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
