{{ "<!-- Block Twitter -->" | safeHTML }}
<section id="block-twitter">
<div class="grid-container full b-c-secondary f-c-white">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-margin-y ">
            <div class="cell small-12 medium-3 follow">
                <div class="grid-x align-middle">
                    <div class="cell shrink">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="cell auto">
                        Latest from Twitter
                    </div>
                    <div class="cell small-12 p-t-20">
                        <a href="/" class="bt">Follow us</a>
                    </div>
                </div>
            </div>
            <div class="cell small-12 medium-9 tweet">
                We're just a little bit proud to have picked up Best Boutique PR Agency at this year's @MCVonline awards. A little bit proud and, well, soon to be just a little bit tipsy.
            </div>
        </div>
    </div>
</div>
</section>
{{ "<!-- / Block Twitter -->" | safeHTML }}
