<section>
    <div class="grid-container full b-c-blue block f-c-white">
        <div class="grid-container">
            <h2 class=" f-c-white">Case Studies</h2>
            <div class="grid-x grid-padding-x grid-padding small-up-1 medium-up-2 large-up-3">
                {{ range first 3 (where .Data.Pages "Type" "case-studies") }}
                <div class="cell">
                    {{ .Render "card" }}
                </div>
                {{ end }}
            </div>
        </div>
        <div class="grid-container text-center m-t-100">
            <a href="/case-studies" class="button large">All Case Studies</a>
        </div>
    </div>
</section>
