{{ $ga := site.Config.Services.GoogleAnalytics.ID | default "" }}
{{ $gtm := site.Config.Services.GoogleAnalytics.ID | default "" }}


<div id="consent-notice">
    <div class="grid-x align-center-middle">
        <div class="cell small-12 medium-shrink">
             <span>
            {{- if .Site.Data.gdpr.message -}}
               {{.Site.Data.gdpr.message}}
            {{- else -}}
                <span>We would like to use <a class="manage-consent" href="#manage-consent">third party code</a> to improve the functionality of this website.
            {{- end -}}
            {{- if .Site.Data.gdpr.url -}}
                    <a href="{{ .Site.Data.gdpr.url | safeURL }}" class="button tiny secondary privacy-link">{{ .Site.Data.gdpr.link }}</a>
                {{- end -}}
             </span>
        </div>
        <div class="cell small-12 medium-shrink">
            <div class="button-group">
                <button class="button tiny primary manage-consent">Manage preferences</button>
                <button class="button tiny primary deny-consent">Deny</button>
                <button class="button tiny primary approve-consent">Allow</button></div>
            </div>
        </div>
    </div>
<div id="consent-overlay">
    <div>
        {{ range $index, $item := .Site.Data.gdpr.items }}
            <div>
                <input type="checkbox" id="item{{ $index }}" value="1" name="item{{ $index }}" {{ if $item.is_functional }}checked disabled{{ end }} />
                <label for="item{{ $index }}">
                    <h3>{{ $item.title }}</h3>
                    <p>{{ $item.description }}</p>
                </label>
            </div>
        {{ end }}
        <div>
            <div class="button-group">
                <button id="save-consent" class="button save-consent" data-consentvalue="{{ range $index, $item := .Site.Data.consent.items }}{{ if $item.is_functional}}{{ else }}0{{ end }}{{ end }}">Save preferences</button>
                <button class="button approve-consent">Allow all</button>
            </div>
        </div>
    </div>
</div>
{{ partial "marketing/google-analytics-script.html" . }}
<script>
    (function() {
        const addScripts = [];
        {{ range $index, $item := .Site.Data.gdpr.items }}
            {{ if not $item.is_functional }}
                addScripts.push("{{ $item.script_file }}");
            {{ end }}
        {{ end }}

        function createCookie(name, value, days) {
            let expires = "";
            if (days) {
                let date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            let nameEQ = name + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }

        function denyAllConsentScripts() {
            let consentValue = "";
            addScripts.forEach(function() {
                consentValue = consentValue + "0";
            });
            acceptSomeConsentScripts(consentValue);
        }

        function acceptAllConsentScripts() {
            let consentValue = "";
            addScripts.forEach(function() {
                consentValue = consentValue + "1";
            });
            acceptSomeConsentScripts(consentValue);
        }

        function acceptSomeConsentScripts(consentValue) {
            setConsentInputs(consentValue);
            createCookie('consent-settings', consentValue, 31);
            document.getElementById('consent-notice').style.display = 'none';
            document.getElementById('consent-overlay').classList.remove('active');
            loadConsentScripts(consentValue);
        }

	    function updateConsentTag(granted){

			    if (granted) {
                        gtag('consent', 'update', {
                            'ad_storage': 'granted',
                            'ad_user_data': 'granted',
                            'ad_personalization': 'granted',
                            'analytics_storage': 'granted'
                        });

                } else {
                        gtag('consent', 'update', {
                            'ad_storage': 'denied',
                            'ad_user_data': 'denied',
                            'ad_personalization': 'denied',
                            'analytics_storage': 'denied'
                        });
                }
        }

        function addGoogleAnalytics () {

	        let s = document.createElement('script');
	        s.type = 'text/javascript';
	        s.src = "https://www.googletagmanager.com/gtag/js?id={{$ga}}";
	        document.body.appendChild(s);

	        window.dataLayer = window.dataLayer || [];
	        window['ga-disable-{{$.Site.Config.Services.GoogleAnalytics.ID}}'] = true;

	        function gtag() {
		        dataLayer.push(arguments);
	        }

	        function trackOutboundLink(url) {
		        gtag('event', 'click', {
			        'event_category': 'outbound',
			        'event_label': url,
			        'transport_type': 'beacon',
			        'event_callback': function () {
				        document.location = url;
			        }
		        });
		        console.debug("Outbound link clicked: " + url);
	        }

	        function onClickCallback(event) {
		        if ((event.target.tagName !== 'A') || (event.target.host === window.location.host)) {
			        return;
		        }
		        trackOutboundLink(event.target);  // Send GA event.
	        }

	        gtag('js', new Date());
	        gtag('config', '{{$ga}}');

	        gtag('consent', 'default', {
		        'ad_storage': 'denied',
		        'ad_user_data': 'denied',
		        'ad_personalization': 'denied',
		        'analytics_storage': 'denied'
	        });

        }

        function loadConsentScripts(consentValue) {
            addScripts.forEach(function(value, key) {
                if (consentValue[key] == "1") {

                    if(value === 'ga.js') {
	                    updateConsentTag(true)
                    }

                    if(value === 'facebook.js') {

                        {{with .Params.facebook_pixel}}

                            window.facebook = [];

                        {{range . }}
                            {{if .active }}

                                !function(f,b,e,v,n,t,s)
                                {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                                n.queue=[];t=b.createElement(e);t.async=!0;
                                t.src=v;s=b.getElementsByTagName(e)[0];
                                s.parentNode.insertBefore(t,s)}(window, document,'script',
                                'https://connect.facebook.net/en_US/fbevents.js');

                                const func = () => {
                                  if (window.facebookPixelActive) {
                                    fbq('init', {{.id}});
                                    fbq('track', 'PageView');
                                    console.log('facebook tracking active');
                                  } else {
                                    console.log('facebook tracking inactive');
                                  }
                                }

                                window.facebook.push(func);
                            {{end}}
                        {{ end }}
                        {{end}}

                    }



                } else {

                }
            });
        }

        function setConsentInputs(consentValue) {
            let elements = document.querySelectorAll('#consent-overlay input:not([disabled])');
            elements.forEach(function(el, index) {
                if (consentValue[index] == "1") el.checked = true;
                else el.checked = false;
            });
        }

        function setConsentValue() {
            let elements = document.querySelectorAll('#consent-overlay input:not([disabled])');
            let consentValue = "";
            elements.forEach(function(el) {
                if (el.checked) consentValue = consentValue + "1";
                else consentValue = consentValue + "0";
            });
            document.getElementById("save-consent").dataset.consentvalue = consentValue;
        }

        let elementsOverlay = document.querySelectorAll('#consent-overlay input:not([disabled])');
        elementsOverlay.forEach(function(el) {
            el.checked = false;
        });

        if (readCookie('consent-settings')) {
            let consentValue = readCookie('consent-settings').toString();
            setConsentInputs(consentValue);
            loadConsentScripts(consentValue);
        } else {
            document.getElementById('consent-notice').style.display = 'block';
        }
        let elementsManager = document.querySelectorAll('.manage-consent');
        elementsManager.forEach(function(el) {
            el.addEventListener("click", function() {
                document.getElementById('consent-overlay').classList.toggle('active');
            });
        });
        let elementsDeny = document.querySelectorAll('.deny-consent');
        elementsDeny.forEach(function(el) {
            el.addEventListener("click", function() {
                denyAllConsentScripts();
            });
        });
        let elementsApprove = document.querySelectorAll('.approve-consent');
        elementsApprove.forEach(function(el) {
            el.addEventListener("click", function() {
                acceptAllConsentScripts();
            });
        });
        document.getElementById("save-consent").addEventListener("click", function() {
            setConsentValue();
            acceptSomeConsentScripts(this.dataset.consentvalue);
        });
        document.getElementById("consent-overlay").addEventListener("click", function(e) {
            if (!document.querySelector("#consent-overlay > div").contains(e.target)) {
                this.classList.toggle('active');
            }
        });


    })();
</script>

{{ range $index, $item := .Site.Data.gdpr.items }}
    {{ if $item.is_functional }}
        {{with $item.script_file}}
        <script type="text/javascript" src="/js/{{ . }}" async></script>
        {{end}}
    {{ end }}
{{ end }}
