<!-- Contact -->
<div class="mb4">
    <h2>Send us a Message</h2>

    <form id="contact" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify-recaptcha="true" data-netlify="true">
        <div class="">
            <!-- Name -->
                <fieldset>
                    <label for="name">Full Name*</label>
                    <input type="text" id="name" name="name" placeholder="Name">

                </fieldset>
            <!-- Email -->
                <fieldset>
                    <label for="email">Email Address*</label>
                    <input type="email" id="email" name="email" placeholder="Email">
                </fieldset>
            <!-- Telephone -->
            <fieldset>
                <label for="email">Telephone*</label>
                <input type="tel" id="telephone" name="telephone" placeholder="Telephone">
            </fieldset>
        </div>

        <!-- Message -->
        <fieldset>
            <label for="message">Your message</label>
            <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80"></textarea>
        </fieldset>
        <p class="hide">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <!-- Button -->
        <div class="tc">
            <button type="submit" class="button large">Submit</button>
        </div>
    </form>
</div>
