<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    <meta charset="utf-8">
    {{ "<!-- META -->" | safeHTML }}
    {{ partial "head-meta.html" . }}

    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>


    {{ "<!-- FAVICONS -->" | safeHTML }}
    {{ partial "favicons.html" . }}


    {{ "<!-- CSS -->" | safeHTML }}
    {{ $stylesheet := .Site.Data.webpack.main }}
    {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}

    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ "<!-- GDPR -->" | safeHTML }}
    {{ if .Site.Params.cookie_consent_info_url }}
    {{ partial "cookie-consent.html" . }}
    {{ end }}


    {{ "<!-- GOOGLE -->" | safeHTML }}
    {{ partial "head-custom.html" . }}

    {{ partial "google-analytics-script.html" . }}

    {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ end }}

</head>
<body class="default" data-animation="true">
{{ partial "old-browser.html" . }}
<div class="off-canvas-wrapper">
    <div class="off-canvas-content" data-off-canvas-content>

