
{{ "<!-- hero header -->" | safeHTML }}
<div class="hero-header container {{if .media.video_active}} video-active {{end}}">
    <div class="hero-header-inner">
        <div class="contentWrapper">
            <div class="grid-container">
                <div class="grid-y rellax align-center" data-rellax-speed="-3">
                <div class="cell">
                    <div class="grid-x  grid-padding-x ">
                        <div class="cell small-12 medium-10 large-8">
                            <h1>{{.title | safeHTML}}</h1>
                        </div>
                        <div class="cell small-12 medium-9 large-6">
                            {{ if .body }}
                            <p class="content-subtitle-animate"> {{ .body | markdownify }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="imageWrapper">
        <img src="/images/header-placeholder.png" alt="hero background">
        {{if not .media.video_active}}
            <div class="desktop {{ if .bg_image_mobile }}hide-for-small{{ end }} rellax"  style="background-image: url('{{ .media.image }}')" data-rellax-speed="-7"></div>
            {{ if .bg_image_mobile }}<div class="mobile"   style="background-image: url('{{ .bg_image_mobile }}')"></div> {{ end }}
        {{ else }}
            <div  class="video-wrapper video-background" data-video="{{ .media.video }}" style="background-image: url('{{ .media.image }}')">
                <div id="video-player" class="video-foreground responsive-embed">
                    <div id="ytplayer" ></div></div>
            </div>
        <script>
        const tag = document.createElement('script');
        const videoPlayer = document.getElementById('video-player');
        let player;

        lazyLoadVideo()

        function lazyLoadVideo() {
            if (videoPlayer.getBoundingClientRect().top < window.innerHeight) {
                 videoPlayer.className += ' playing';
                 window.removeEventListener('scroll', lazyLoadVideo);
                 tag.src = "https://www.youtube.com/player_api";
                 firstScriptTag = document.getElementsByTagName('script')[0];
                 firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                 video = {{ .media.video }};

            }
        }

        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                videoId: video,
                width: '100%',
                height: '100%',
                playerVars: {
                    autohide:1,
                    autoplay:1,
                    mute:1,
                    loop:1,
                    controls:0,
                    modestbranding:1,
                    playsinline:1,
                    rel:0,
                    showinfo:0,
                    wmode:'opaque',
                    widgetid:1
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }
        function onPlayerReady(event) {

            player.playVideo()
            player.mute(); // comment out if you don't want the auto played video muted

            setTimeout(function(){videoPlayer.className += ' playing'}, 500);
        }
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.ENDED) {
                player.seekTo(0);
                player.playVideo();
            }
        }
        </script>
        {{ end }}
    </div>
    <div class="lightning">
        <img src="/images/lightning.svg" >
    </div>
</div>

{{ "<!-- /hero header -->" | safeHTML }}
