<div class="grid-container full block  header single post">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-margin-y align-middle">
            <div class="cell small-12 large-8">
                <div class="image-single-wrapper">
                <img src="/images/cs-spacer.gif">
                    <div class="image-single">

                        {{$imageUrl := "" }}
                        {{- if isset .Content.Params "image" -}}
                            {{ $resource := resources.Get  .Content.Params.image }}
                            {{- if $resource -}}
                                {{- with $resource.Fill "1280x720 q50 webp" -}}
                                    {{$imageUrl = .RelPermalink}}
                                {{- end -}}
                            {{- else -}}
                                {{- if .Content.Params.image -}}
                                    {{$imageUrl = printf "%s?nf_resize=fit&w=1280&h=720" .Content.Params.image }}
                                {{- else -}}
                                    {{- with resources.Get .Site.Data.theme.placeholder_img -}}
                                        {{- with .Fill "1280x720 q50 webp" -}}
                                            {{$imageUrl = .RelPermalink }}
                                        {{- end -}}
                                    {{- end -}}
                                {{- end -}}
                            {{- end -}}
                        {{- end -}}


                        <img src="{{$imageUrl}}" alt="{{.Content.Params.title}}">
                    </div>
                </div>
            </div>
            <div class="cell small-12 large-4 align-self-bottom f-c-black single-header">
                <h2><small>{{.Category}}</small>{{.Content.Params.title}}</h2>
                <p>{{.Content.Params.client}}</p>
                {{ partial "blocks/block-social" .Content }}

            </div>
        </div>
        <div class="lightning">
            <img src="/images/lightning-section.png" >
        </div>
    </div>
</div>
