
{{ "<!-- hero header -->" | safeHTML }}
<div class="hero-header container">

    <div class="hero-header-inner">
        <div class="grid-x contentWrapper rellax" data-rellax-speed="-3">
            {{if not .events.hideherotitle }}
            <div class="cell">
                {{ if .title }} <h1 class="m-b-50 content-title-animate" data-aos="fade-up" data-aos-delay="1000">{{ .title | safeHTML }}</h1> {{ end }}
                {{ if .body }}
                    <h5 class="content-subtitle-animate"> {{ .body | markdownify }}</h5>
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="imageWrapper">

            <img src="/images/header-placeholder.png" alt="hero background">

            <div class="desktop {{ if .bg_image_mobile }}hide-for-small{{ end }} rellax"  style="background-image: url('{{ .image }}')" data-rellax-speed="-7"></div>
            {{ if .bg_image_mobile }}<div class="mobile"   style="background-image: url('{{ .bg_image_mobile }}')"></div> {{ end }}
        </div>
        <div class="grid-container scroll-down-block-container">
            <div class="grid-x">
                <div class="cell">
                    <div class="scroll-down-block">Scroll Down</div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ "<!-- /hero header -->" | safeHTML }}


