{{ "<!--[if lt IE 10]>" | safeHTML }}
<div class="oldBrowser">
    <div class="content">
        <h1>{{ .Site.Title }}</h1>

        <h2>Old Browser</h2>
        You are using an <strong>outdated</strong> browser. Please update your browser.

        <ul id="browserlist">
            <li id="chrome"><a href="https://www.google.com/intl/en/chrome/browser/">
                <div class="icon"></div>
                <h1>Google Chrome</h1><span>Download here</span></a></li>
            <li id="firefox"><a
                    href="https://www.mozilla.org/en-US/firefox/new/?utm_source=firefox-com&utm_medium=referral">
                <div class="icon"></div>
                <h1>Mozilla Firefox</h1><span>Download here</span></a></li>
            <li id="safari"><a href="http://www.apple.com/safari/">
                <div class="icon"></div>
                <h1>Safari</h1><span>Download here</span></a></li>
            <li id="opera"><a
                    href="http://www.opera.com/?utm_expid=8257061-8.I2qBJab0QEqZAoVjI3nVDw.0&utm_referrer=http%3A%2F%2Fbrowsehappy.com%2F">
                <div class="icon"></div>
                <h1>Opera</h1><span>Download here</span></a></li>
            <li id="ie"><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                <div class="icon"></div>
                <h1>Internet Explorer</h1><span>Download here</span></a></li>
        </ul>

        <div class="footer">For more information please visit <a href="http://browsehappy.com/">Browse Happy</a></div>
    </div>
</div>
{{ "<![endif]-->" | safeHTML }}
