{{ "<!-- Block Client -->" | safeHTML }}
<section>
    <div id="clients" class="grid-container full  block">
        <div class="grid-container">
            <div class="grid-x grid-padding-x text-center align-center">
                <div class="cell small-12 medium-10 large-8 section-heading">
                    <h2>{{ .Params.clients.heading}}</h2>
                    <p>{{ .Params.clients.text}}</p>
                </div>
            </div>
        </div>
        {{ "<!-- Featured -->" | safeHTML }}
        <div class="grid-container client-feature-list">
            <div class="grid-x grid-margin-y grid-margin-x small-up-2 medium-up-4 large-up-6 align-center-middle">
                {{with .Params.clients.clients_featured}}
                    {{ range  . }}
                        <div class="cell">
                           {{ partial "client-link" . }}
                        </div>
                    {{end}}
                {{end}}
            </div>
        </div>
        {{ "<!--/ Featured -->" | safeHTML }}
        {{if .IsHome }}
        <div class="grid-container">
            <div class="grid-x grid-padding-x text-center align-center m-t-50">
                <div class="cell small-12 medium-10 large-8 section-heading m-t-0">
                    <a href="/clients" class="button">View All Our Clients</a>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{if .IsHome }}
    {{ $length := .Params.clients.slider_num | default 3}}
    <div class="grid-container full  block client-list">
    <div class="grid-container">
        <div class="grid-x grid-padding-x text-center align-center">
            <div class="cell small-12 medium-10 large-8 section-heading m-t-0">
                <h2>{{ .Params.clients.productsheading}}</h2>
                <p>{{ .Params.clients.productstext}}</p>
            </div>
        </div>
    </div>
    {{with .Params.clients.clients}}
            <div class="grid-container client-slider slick-slider">

                    {{ $clients := .}}

                    {{ range $index, $items := . }}

                        {{if eq (mod $index $length ) 0}}
                            <div class="slice-item">
                                <div class="grid-x small-up-2 medium-up-4 align-center-middle" data-equalizer>
                                    {{if eq $index 0}}
                                        {{ range first $length $clients}}
                                            <div class="cell" data-equalizer-watch>
                                                {{ partial "game-link" .}}
                                            </div>
                                        {{end}}
                                    {{else}}
                                        {{ range first $length (after $index $clients)}}
                                            <div class="cell">
                                                {{ partial "game-link" .}}
                                            </div>
                                        {{end}}
                                    {{end}}
                                    </div>
                                </div>
                        {{end}}
                {{end}}
            </div>

    </div>
    {{end}}
    {{end}}
</section>
{{ "<!-- / Block Client -->" | safeHTML }}
