{{$context := . }}
{{- $alt := .Title -}}
<div class="card card-button" onclick="window.location='{{ .RelPermalink }}';">
        {{- with .Params.image -}}
        <div class="card-image-wrapper">
            {{- if in . "uploads" -}}
                <img data-src="{{ .src }}" alt="{{$alt}}" class="lazyload" width="450" height="223">
            {{- else -}}
                {{- with resources.Get . -}}
                    {{ partial "utils/image" (dict "context" $context "image" . "alt" $alt "option" "Fill" "size" "webp 450x253  center" "baseSize" 450 )}}
                {{- else -}}
                    {{- with resources.Get .Site.Data.theme.placeholder_img -}}
                        {{ partial "utils/image" (dict "context" $context "image" . "alt" $alt "option" "Fill" "size" "webp 450x253 center" "baseSize" 450 )}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        </div>
        {{- else -}}
            {{- with resources.Get .Site.Data.theme.placeholder_img -}}
                <div class="card-image-wrapper">
                {{ partial "utils/image" (dict "context" $context "image" . "alt" $context.Title  "option" "Fill" "size" "png 450x253 center" "baseSize" 450 )}}
                </div>
            {{- end -}}
        {{- end -}}
        <div class="card-section">
            <div>
                    <header>
                        <h3>{{ with .Params.categories }}<small>{{ . }}</small>{{end}}{{ .Title }}</h3>
                        {{ with .Params.client }} <div class="sub">{{ . }}</div>{{end}}
                    </header>
            </div>
            <div class="icon-bottom text-right m-t-50">
                <a href="{{ .RelPermalink }}" aria-label="View {{ .Title }}"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
</div>
