
<div class="card card-button" onclick="window.location='{{ .RelPermalink }}';">
        {{ with .Params.image }}
            <img src="{{ . }}" alt="">
        {{end}}
        <div class="card-section">
            <div>
                    <header>
                        <h3>{{ with .Params.categories }}<small>{{ . }}</small>{{end}}{{ .Title }}</h3>
                        {{ with .Params.client }} <div class="sub">{{ . }}</div>{{end}}
                    </header>
            </div>
            <div class="icon-bottom text-right m-t-100">
                <a href="{{ .RelPermalink }}" aria-label="View"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
</div>


