always-auth=true
//npm.greensock.com/:_authToken=c26efd17-2d26-4f42-ab56-c8d3ffb124a3
@gsap:registry=https://npm.greensock.com
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=848B2E06-0147-4C5E-9584-1BE3194F6D55