.block {
  padding-top: rem-calc(100);
  padding-bottom: rem-calc(100);

  .section-heading{
    p{
      font-size: rem-calc(22);
      @extend .m-b-50;
    }
  }
}

#block-twitter {
  > div {
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(60);
  }
}

.block-icon-list {

  img {
    margin-bottom: rem-calc(25);
  }

  li {
    margin-bottom: rem-calc(50);
  }

}
