.card-button {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
  transition: 250ms all ease-in-out;
  display: block;
  cursor: pointer;
  overflow: hidden;

  header {
    small{
      margin-bottom: rem-calc(10);
    }

  }

  &:hover {
    background: $primary-color;
    color: $white;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
    transition: 250ms all ease-in-out;

    header {
      h3{
        small {
          color: $white;
        }
        color: $white;
      }
      .sub{
        color: $white;
      }

    }
    .icon-bottom {
      a {
        color: $primary-color;
        background: $white;
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;

  .card-image-wrapper {
    min-height: 1px;
    img {
      flex: none;
    }
  }

  .card-section {
    display: flex;
    min-height: 1px;
    div:first-child {
      min-height: 200px;
    }
    > div:last-child {
      flex: 1 1 auto;
      margin-top: auto;
    }
  }

  header {
    h3 {
      margin-bottom: 0;
    }
    .sub{
      color: $light-gray;
    }
  }
}



.card-cell {
  display: flex;
  height: 100% !important;
}

.service-list {

  .cell:nth-child(odd) {
    .card {
      background: $primary-color;
      color: $white;

      h3 {
        color: $white;
      }
    }
  }

  .card {
    box-shadow: none;
    img{
      max-width: rem-calc(70);
    }
  }
}
