// contact form
input{
  @include breakpoint(small){
    font-size: rem-calc(12);
  }
  @include breakpoint(large){
    font-size: rem-calc(16);
  }
}
textarea {

}

label {
  font-family: $header-font-family;
  text-transform: uppercase;
}

fieldset {
  position: relative;
  label.error {
    position: absolute;
    text-transform: none;
    color: #ff3067;
    bottom: -5px;
  }

  input.error {
    border: 1px solid #ff3067!important;
  }
}
