.hero-header{

  position:relative;
  //overflow: hidden;

  .hero-header-inner{
    max-width: 100%;
    margin: 0 auto;
    color: $white;
    h1{
      color: $white;
      span {
        color: $green
      }
    }
    p{
      font-size: rem-calc(22);
    }

    @include breakpoint(small only){
      h1{
        font-size: rem-calc(39);
      }
      p{
        font-size: rem-calc(18);
      }
    }
  }

  .lightning {
    position: absolute;
    bottom: -100px;
    right: 0;
    z-index: 10;

    @include breakpoint(small only){
      width: 80%;
      bottom: -50px;
    }

    @include breakpoint(medium only){
      width: 54%;
      bottom: -50px;
      right: 20px;
    }
  }



  .contentWrapper{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 12;
    padding-top: 100px;

    @include breakpoint(small) {
      padding-top: 70px;
    }

    @include breakpoint(large) {
      padding-top: 100px;
    }


    .grid-container{
      > .grid-y {


        @include breakpoint(small) {
          min-height: 380px;
        }

        @include breakpoint(medium) {
          min-height: 590px;
        }

        @include breakpoint(large) {
          min-height: 690px;
        }
      }
    }
  }
  .imageWrapper{
    position:relative;
    z-index: 1;
    width:100%;
    overflow: hidden;

    &:before {
      @include pseudo();
      width: 100%;
      height: 100%;
      z-index: 1;
      background-blend-mode: darken;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
    }

    > div {
      position: absolute;
      top:-10%;
      left:0;
      background-size: cover;
      background-position: center;
      background-color: $black;
      width: 100%;
      height: 120%;
    }

    img{
      width:50%;
    }

    @include breakpoint(small) {
      min-height: 480px;
      .mobile{
        display: block
      }
    }
    @include breakpoint(medium) {
      min-height: 700px;
    }

    @include breakpoint(large) {
      min-height: 790px;
      .desktop{
        display: block
      }
      .mobile{
        display: none
      }
    }
  }

  &.full{
    > .grid-x{
      height: 100vh;
    }
  }
}

.header {

  color: $white;
  padding-top: rem-calc(160);

  > div {
    position: relative;

    > div {
      position: relative;
      z-index: 10;
    }
  }

  &.single {
    padding-top: rem-calc(130);
    padding-bottom: $global-margin;
    background: #42827d; /* Old browsers */
    background: linear-gradient(to bottom,  #42827d 0%,#42827d 60%,#ffffff 60%,#ffffff 100%);
  }

  .lightning {
    position: absolute;
    bottom: - rem-calc(150);
    right: 0;
    z-index: 1;

    @include breakpoint(small only){
      bottom: - rem-calc(50);
      width: 80%;
    }

    @include breakpoint(medium only){
      bottom: - rem-calc(50);
      width: 60%;
    }
  }

  h1{
    color:$green;
    letter-spacing: normal;
    font-size: rem-calc(22);
    //word-break: break-all;
  }

  p {
    font-family: $header-font-family;
    font-weight: 700;
    font-size: rem-calc(42);
    line-height: 1.43;
    //word-break: break-word;
    //hyphens: auto;

    @include breakpoint(small only){
      font-size: rem-calc(30);
    }
  }
}

.single-header{
  padding-top: 15%;
  small {
    font-size: rem-calc(18);
  }
  h2{
    margin-bottom: 0;
  }
  p{
    font-size: rem-calc(18);
    font-family: $body-font-family;
    font-weight: normal;
  }
}

.header {
  .image-single-wrapper{
    position: relative;
  }
  .image-single {
    position: absolute;
    height: 100%;
    right: 0;
    top:0;
    img{
      float: right;
      max-width: none;
      width: auto;
      height: 100%;
      max-height: 100%;
    }
  }

  .single-social-share {
    li{
      display: inline-block;
    }
  }

  .lightning {
    bottom: 37%;
  }
}

main {
  position: relative;
  z-index: 10;
}
