.hero-header{

  position:relative;
  //overflow: hidden;

  .hero-header-inner{
    max-width: $global-width;
    margin: 0 auto;
    color: $white;
    h1{
      color: $white;
      span {
        color: $green
      }
    }
    p{
      font-size: rem-calc(22);
    }
  }

  .lightning {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 10
  }

  .hero-logo{
    @include vertical-center();
    left:0;
    right:0;
    margin: 0 auto;
    z-index: 2;
    max-width: 60vw;
  }

  .contentWrapper{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 100px;
    @include breakpoint(small) {

    }
    @include breakpoint(medium) {

    }
    @include breakpoint(large) {

    }

    .grid-container{
      width:100%;
    }
  }
  .imageWrapper{
    position:relative;
    z-index: 1;
    width:100%;
    overflow: hidden;

    &:before {
      @include pseudo();
      width: 100%;
      height: 100%;
      z-index: 1;
      background-blend-mode: darken;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
    }

    > div {
      position: absolute;
      top:-10%;
      left:0;
      background-size: cover;
      background-position: center;
      background-color: $black;
      width: 100%;
      height: 120%;
    }

    img{
      width:50%;
    }

    @include breakpoint(small) {
      min-height: 480px;
      .mobile{
        display: block
      }
    }

    @include breakpoint(medium) {
      min-height: 840px;
      .desktop{
        display: block
      }
      .mobile{
        display: none
      }
    }
  }

  &.full{
    > .grid-x{
      height: 100vh;
    }
  }
}

.header {

  color: $white;
  padding-top: rem-calc(160);

  > div {
    position: relative;

    > div {
      position: relative;
      z-index: 10;
    }
  }

  &.single {
    padding-top: rem-calc(130);
    padding-bottom: $global-margin;
    background: #42827d; /* Old browsers */
    background: linear-gradient(to bottom,  #42827d 0%,#42827d 60%,#ffffff 60%,#ffffff 100%);
  }

  .lightning {
    position: absolute;
    bottom: - rem-calc(150);
    right: 0;
    z-index: 1;

    @include breakpoint(small only){
      bottom: - rem-calc(50);
      width: 80%;
    }
  }

  h1{
    color:$green;
    letter-spacing: normal;
    font-size: rem-calc(22);
    word-break: break-all;
  }

  p {
    font-family: $header-font-family;
    font-weight: 700;
    font-size: rem-calc(42);
    line-height: 1.43;
    word-break: break-word;
    hyphens: auto;

    @include breakpoint(small only){
      font-size: rem-calc(30);
    }
  }
}

.single-header{
  padding-top: 15%;
  small {
    font-size: rem-calc(18);
  }
  h2{
    margin-bottom: 0;
  }
  p{
    font-size: rem-calc(18);
    font-family: $body-font-family;
    font-weight: normal;
  }
}

main {
  position: relative;
  z-index: 10;
}
