.vertical {
  &.menu {
    //padding-top: rem-calc(30);
    padding-bottom: rem-calc(10);
    li{
      width: 100%;
      padding: 0;
      margin: 0;

      a{
        color: $body-font-color;
        font-family: $header-font-family;
        font-weight: bold;
        letter-spacing: rem-calc(2);
        text-transform: capitalize;
        line-height: rem-calc(20);
        vertical-align: middle;
        transition: 0.5s all ease-in-out;

        &:hover {
          color: $black!important;
          transition: 0.5s all ease-in-out;
        }

        &:visited {
          color: $primary-color !important;
          transition: 0.5s all ease-in-out;
        }
      }

      &:first-child {
        a {
          padding-top: 0;
        }
      }
    }
  }
}

.secondary {
  .menu{
    li {
      @include breakpoint(small only){
        a {
          padding-left: 0;
        }
      }
    }
  }
}

.footer-menu{
  li{
    a {
      padding-left: 0;
    }
  }
}

#TableOfContents{
  ul {
    @extend .vertical;
    @extend .menu;
    li {
      transition: 0.5s all ease-in-out;
      &:hover {
        color: $black!important;
        transition: 0.5s all ease-in-out;
      }

      &:visited {
        color: $primary-color !important;
      }
      &:before {
        display: none;
      }
      > ul {
        padding-top: 1rem;
        padding-bottom: 1rem;
        li:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.oembed-wrapper {
  .oembed-item-wrapper{
    text-align: center;
    border-bottom: 1px solid $medium-gray;
    &:last-child {
      border-bottom: none;
    }
    a{
      color: $primary-color !important;
      font-family: $header-font-family;
      font-weight: bold;
      font-size: rem-calc(14);
      letter-spacing: rem-calc(2);
      text-transform: uppercase;
      line-height: rem-calc(20);
      vertical-align: middle;
      transition: 0.5s all ease-in-out;

      &:hover {
        color: $black!important;
        transition: 0.5s all ease-in-out;
      }

      &:visited {
        color: $primary-color !important;
      }
    }
  }
}

.footer-menu {
  .menu .active > a{
    background: transparent;
  }
}

.off-canvas.is-transition-overlap {
  z-index: 999999;
}

.off-canvas {
  img{
    max-width: 60px;
    margin: 15px;
  }
  ul{
    margin-top: 20px;
    border-top: 1px solid #f6f6f6;
    padding-top: 15px;

    li {
      border-bottom: 1px solid #f6f6f6;
    }
  }

  .vertical.menu li {
    padding: 15px 30px;
  }
}


