.slick-dots {
  margin-top: rem-calc(50);
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;

  li{
    width: 10%;
    height: 10px;
    font-size: 5px;
    background-color: $light-gray;
    color: $light-gray;
    margin-right: 1px;
    margin-left: 1px;
    cursor: pointer;

    button {
      color: $light-gray;
    }

    &:hover {
      color: $primary-color;
      background-color: $primary-color;
    }

    &.slick-active {
      color: $primary-color;
      background-color: $primary-color;
    }
  }

}
