
.statistics {

  h4{
    margin-bottom: 0;
  }

  h6{
    font-family: $body-font-family;
    text-transform: none;
    letter-spacing: rem-calc(1);
    font-size: rem-calc(18);
  }

  .role{
    font-weight: 700;
  }

  .profile-img{
    text-align: center;
    > div{
      display: inline-block;
      margin-bottom: 0;
    }
  }

  .char-attribute {
    color: $primary-color;
    text-transform: uppercase;
    font-family: "Gill Sans", "Gill Sans MT", GillSans, Calibri, "Trebuchet MS", sans-serif;
    font-size: rem-calc(14);
    letter-spacing: rem-calc(2);
    font-weight: 700;
    padding-right: rem-calc(20);
  }

  .progress{
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background-size: 100%;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAAUCAQAAAAJ4KM9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBwIMJRHPdN5mAAAAW0lEQVRo3u3TQQnAQBDAwKX+tdbCnYNAYV9lRkB+mVn1nt3eflFP74tnNwf/YhAIBoFgEAgGgWAQCAaBYBAIBoFgEAgGgWAQCAaBYBAIBoFgEAgGgWAQCAaBcAGRrBF8dEc3zgAAAABJRU5ErkJggg==");
    }

  }
}

#content-panel {
  .statistics {
    h4 {
      margin-bottom: 0;
    }
  }
}
