.testimonial-item {

  margin-bottom: 0;

  .content {
    font-family: $header-font-weight;
    font-weight: 700;
    font-size: rem-calc(24);
    font-style: italic;
    margin-bottom: rem-calc(30);
  }

  .profile-img {
    margin-bottom: rem-calc(10);
  }

  .profile-name {
    font-weight: bold;
  }
}

.testimonial-card {
  color: $white;
  background: $blue;
  padding: $global-padding;
}

#testimonial {
  position: relative;
  .icon-wrapper{
    position:absolute;
    width: 100%;
    top:- rem-calc(50);
    text-align: center;
  }
}
