.sticky-container{
  position:fixed;
  width:100%;
  z-index:999;
}

.hide-on-load{
  display:none;
}

.box-indicator {
  @include pseudo();
  width: 100%;
  height: rem-calc(5);
  bottom:- rem-calc(10);
  left: 0;
  background: $green;
  transition: 200ms height ease-in-out;
}

.top-bar {

  &.scroll-up {
    transform: translateY(0);
  }

  &.scroll-down {
    transform: translateY(-100px);
  }

  .menu{
    background-color: transparent;

    li{
      font-family: $header-font-family;
      font-weight: 700;
      position: relative;
      margin-right: rem-calc(5);

      &:last-child {
        margin-right: rem-calc(0);
      }

      @include breakpoint(small){
        width:100%;
        display: block;
      }
      @include breakpoint(medium){
        width:auto;
      }

      a {
        padding-top: rem-calc(25);
        padding-bottom: rem-calc(25);

        &:after {
          @extend .box-indicator;
          height: 0;
          transition: 250ms height ease-in-out;
        }
      }

      &:not(.menu-logo) :hover {
        &:after {
          @extend .box-indicator;
          height: rem-calc(5);
          transition: 250ms height ease-in-out;
        }
      }

      &.active{
        a{
          color: $primary-color;
        }
        &:not(.menu-logo) :after {
          @extend .box-indicator;
        }
      }
      .dropdown.menu > li.opens-left > .is-dropdown-submenu{
        right:auto!important;
        left:0!important;
      }
      .submenu{
        background: $black;
        color:white;
        text-align: left;
        a{
          color: white!important;
        }
      }
    }
  }

  &.sticky{
    &:not(.is-stuck){
      padding: rem-calc(0) 0.5rem;
      background-color: transparent;
      transition: 0.5s all ease-in-out;

      .menu{
        color:$button-navigation-color;
        a{
          @include breakpoint(small){
            color: $button-navigation-color;
          }
          @include breakpoint(medium){
            color:$button-navigation-color;
          }
        }
        &.active{
          a{
            color:$button-navigation-b-c;
          }
        }
      }

    }
    &.is-stuck{
      color:$primary-color;
      padding: 0;
      background-color: white;
      transition: 0.5s all ease-in-out;
    }
  }
}


.top-bar {

  .logo-main{
    img {
      max-width: 390px;
    }
  }

  .logo-invert{
    img {
      max-width: 35px;
    }
  }

  &.sticky {

    .logo-invert{
      display: block;
      opacity:1;
      transition: 0.5s all ease-in-out;
    }
    .logo-main{
      display: none;
      opacity:0;
      transition: 0.5s all ease-in-out;
    }

    &:not(.is-stuck) {
      .menu-logo{
        .logo-invert{
          display: none;
          opacity:0;
          transition: 0.5s all ease-in-out;
        }
        .logo-main{
          display: block;
          opacity:1;
          transition: 0.5s all ease-in-out;
        }

      }
    }
  }
}


#languages{
  margin-left: 30px;
  margin-right: 20px;
  font-size: rem-calc(12);

  a{
    display: inline-block;
    padding: rem-calc(14) rem-calc(3)
  }
}

.top-bar-small{
  position:fixed;
  width:100%;
  z-index: 100;
  .logo-main > img{
    max-width: rem-calc(180);
  }

}

.is-at-bottom {
  top:10px !important;
}

.off-canvas{
  ul.sub{
    padding-left: rem-calc(20);
  }
}
