baseurl = "/"
languageCode = "en-us"
languageLang = "en"
title = "Renaissance PR"


# Google
#
googleAnalytics = "UA-3653156-1"
#google_verify_meta = "//BAi57DROASu4b2mkVNA_EyUsobfA7Mq8BmSg7Rn-Zp9"

# RSS, categories and tags disabled for an easy start
# See configuration options for more details:
# https://gohugo.io/getting-started/configuration/#toml-configuration
disableKinds = ["RSS", "taxonomy", "taxonomyTerm"]

# site custom main menu
[menu]
    [[menu.navbar]]
        identifier = "services"
        name = "Services"
        url = "/services"
        weight = 1
    [[menu.navbar]]
        identifier = "case_studies"
        name = "Case Studies"
        url = "/case-studies"
        weight = 2
    [[menu.navbar]]
        identifier = "about"
        name = "About"
        url = "/about"
        weight = 3
    [[menu.navbar]]
        identifier = "contact"
        name = "Contact"
        url = "/contact"
        weight = 4
    [[menu.secondary]]
        identifier = "privacy"
        name = "Privacy Policy"
        url = "/privacy"
        weight = 2
# Privacy

[privacy]
  [privacy.disqus]
    disable = false
  [privacy.googleAnalytics]
    anonymizeIP = false
    disable = false
    respectDoNotTrack = true
    useSessionStorage = false
  [privacy.instagram]
    disable = false
    simple = false
  [privacy.twitter]
    disable = false
    enableDNT = false
    simple = false
  [privacy.vimeo]
    disable = false
    simple = false
  [privacy.youtube]
    disable = false
    privacyEnhanced = false

[params]
    custom_navbar= false
    cms_navbar = true
    host_name = "https://eloquent-curran-2d10a7.netlify.com"
    description = "Count on our PR agency to provide exclusive video game PR services at competitive prices. Call us on 01483 665493 for more information."
    logo_large="/images/logo-full.png"
    logo_small="/images/logo-icon.png"
    logo_mobile="/images/logo-mobile.png"
    logo_large_invert="/images/logo-icon.png"
