
{{ define "header" }}
  {{ partial "header-single"  (dict "Content" . "Category" .Params.categories)}}
{{end}}

{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<div class="grid-container single-article">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 large-8">
      <article>
      {{- .Content -}}
      </article>
    </div>
    <div class="cell small-12 large-4">
      <aside>
        <div class="testimonial-card">
        {{ $filter := .Params.testimonial }}
        {{ partial "testimonials" ( dict "content" . "filter" $filter)}}
        </div>
      </aside>
    </div>
  </div>
</div>
{{ with .Next }}
{{ if isset .Params "image" }}
<section>
<div id="next-article" class="grid-container full block b-c-dark-gray m-t-100"  onclick="window.location='{{ .RelPermalink }}';">
  <div class="bg-img"  style="background-image: url({{ .Params.image }})"></div>
  <div class="content grid-container">
  <div class="grid-x grid-padding-x align-center-middle text-center">
    <div class="cell small-12 large-4">
      <article>
        <header>
        <h2>
          <small>{{.Params.categories}}</small>
          {{ .Title }}
        </h2>
          <p>{{.Params.client}}</p>
          <div class="icon-bottom m-t-50">
            <a href="{{ .RelPermalink }}" aria-label="View"><i class="fa fa-chevron-right"></i></a>
          </div>
        </header>
      </article>
    </div>
  </div>
  </div>
</div>
</section>
{{end}}
{{end}}
{{ end }}
