{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

{{ $filter := .Params.categories}}
{{$cat := replace .Params.categories " " "-"}}

<div class="cell item" data-groups='["{{lower $cat}}"]' onclick="window.location='{{ .RelPermalink }}';">
  <div class="card-button">
  {{ with .Params.image }}
  <img src="{{ . }}" alt="">
  {{end}}
  <div class="card-section">
    <div>
      <header>
        <h3><small> {{ if (.Params.categories) }}{{ partial "meta-categories.html" . }}{{ end }}</small>{{ .Title }}</h3>
        {{ with .Params.client }} <div class="sub">{{ . }}</div>{{end}}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format $dateFormat }}
        </time>
      </header>
    </div>
    <div class="icon-bottom text-right m-t-100">
      <a href="{{ .RelPermalink }}" aria-label="View"><i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
  </div>
</div>
