{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}




<div class="card-button">
  {{ with .Params.image }}
  <div class="image-wrapper">
    <img src="{{ . }}" alt="">
  </div>
  {{end}}
  <div class="card-section">
    <div>
      <header>
        <h3><small> {{ if (.Params.categories) }}{{ partial "meta-categories.html" . }}{{ end }}</small>{{ .Title }}</h3>
        {{ with .Params.client }} <div class="sub-heading">
        {{ . }}
        </div>{{end}}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format $dateFormat }}
        </time>
      </header>
    </div>
    <div class="icon-bottom text-right m-t-50">
      <a href="{{ .RelPermalink }}" aria-label="View"><i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
</div>

