{{define "navigation"}}
 <div></div>
{{end}}

{{define "header" }}
<div class="grid-container full b-c-secondary block header">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-margin-y align-center">
            <div class="cell shrink">
                <img src="/images/logo-full.png" alt="{{.Title}}">
            </div>
        </div>
        <div class="lightning">
            <img src="/images/lightning-section.png" >
        </div>
    </div>
</div>
{{end}}

{{ define "main" }}
<div class="grid-container block text-center">
    <h4>Site is under development</h4>
</div>
{{ end }}

{{ define "pusher" }}
<div></div>
{{end}}

{{ define "footer" }}
<div></div>
{{end}}




