.case-studies {

  .card-section {
    h3 {
      small{
        font-size: 55%;
        margin-bottom: rem-calc(5);
      }
      margin-bottom: 0;
    }
    .sub-heading {
      color: $light-gray;
    }

    time{
      font-size: 12px;
      color: lighten($light-gray, 12);
    }
  }

}

.single-article {
  position: relative;
  z-index: 10;
}

#filters {
  a {
    font-family: $header-font-family;
    font-weight: 700;
    color: $black;
    position: relative;

    &:after {
      @include pseudo();
      background-color: $primary-color;
      width: 100%;
      height:0;
      transition: all 200ms ease-in-out;
    }

    &:hover {
      color: $primary-color;

      &:after {
        width: 100%;
        height: rem-calc(3);
        transition: all 200ms ease-in-out;
      }
    }

    &.isActive {
      color: $primary-color;

      &:after {
        width: 100%;
        height: rem-calc(3);
        transition: all 200ms ease-in-out;
      }
    }
  }
}

#next-article {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    .icon-bottom {
      a{
        background: $white;
        color: $primary-color;
      }
    }
  }

  .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    top:0;
    left: 0;
    filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .content {
    position:relative;
    z-index: 2;
    h2{
      small{
        font-size: 50%;
        margin-bottom: rem-calc(10);
      }
      color: $white;
      margin-bottom: rem-calc(0);
    }

    .icon-bottom {
      justify-content: center;
    }
  }
}

#list-grid {
  .cell.expand {
    width: 66.6666%;


    @include breakpoint(small only){
      width: 100%;
    }



    .image-wrapper {
      position: relative;
      &:before {
        @include pseudo();
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        z-index: 1;
        //background: $black;
        background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0) 40%);
      }
    }


    .card-button {
      position: relative;
    }
    .card-section {
      position: absolute;
      display: flex;
      flex-direction: row;
      bottom:0;
      width: 100%;
      z-index: 2;

      header {
        align-self: flex-start;
      }

      .icon-bottom{

        flex: 1 0 0;
      }

      h3 {
        color: $white;
      }
    }
  }
}
