#home-services {
  .section-heading {
    h2 {
      border-right: rem-calc(5) solid $primary-color;
      padding-right: rem-calc(30);
    }
  }
}

.client-list {
  border-top: 1px $light-gray solid;
}
