{{$imageUrl := "" }}
{{$image:= .Get  "image" }}
{{$width:= .Get  "width" }}
{{$height:= .Get  "height" }}
{{$align:= .Get  "align" | default "left" }}
{{$alt:= .Get  "alt" | default "" }}
{{$processing:= .Get  "processing" | default "resize" }}
{{ $sizeString:= printf "q50 webp" }}

{{if and $width $height}}
    {{ $sizeString = printf "%sx%s q80 webp" $width $height }}
{{end}}
{{if and $width (not $height)}}
    {{ $sizeString = printf "%sx q80 webp" $width }}
{{end}}
{{if and $height  (not $width)}}
    {{ $sizeString = printf "x%s q80 webp" $height }}
{{end}}
{{if and (not $width)  (not $height)}}
    {{ $sizeString = printf "q80 webp" }}
{{end}}

{{- if $image -}}
    {{ $resource := resources.Get  $image }}
    {{- if $resource -}}
            {{if eq $processing "fit"}}
                {{$imageUrl = ($resource.Fit $sizeString).RelPermalink }}
            {{else if eq $processing "resize"}}
                {{$imageUrl = ($resource.Resize $sizeString).RelPermalink }}
            {{else if eq $processing "fill"}}
                {{$imageUrl = ($resource.Fill $sizeString).RelPermalink }}
            {{else if eq $processing "crop"}}
                {{$imageUrl = ($resource.Crop $sizeString).RelPermalink }}
            {{end}}
            <div class="image-size-comp {{ if $align -}}
                  {{$align}}
            {{- end -}}
">
            <img src="{{$imageUrl}}"
            {{- if $alt -}}
                 alt="{{$alt}}"
            {{- end -}}
            {{- if $width -}}
                width="{{$width}}"
            {{- end -}}
            {{- if $height -}}
                height="{{$height}}"
            {{- end -}}

            >
            </div>
    {{- end -}}
{{- end -}}
