{{define "header" }}
<div class="grid-container full b-c-secondary block header">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-margin-y align-middle">
            <div class="cell small-12 medium-8">
                <h1>404</h1>
                <p>Page not found</p>
            </div>
        </div>
        <div class="lightning">
            <img src="/images/lightning-section.png" >
        </div>
    </div>
</div>
{{end}}

{{ define "main" }}
<div class="grid-container block text-center">
    <h1>Nothing Here...</h1>
    <a href="{{ "/" | relURL }}" class="button large">Go Home</a>
</div>
{{ end }}
