{{ define "header" }}
    {{ partial "header-hero"  (dict "media" .Params.header "title" .Title "body" .Content)}}
    {{if .Params.twitter}}
        {{ partial "blocks/block-twitter" . }}
    {{else}}
        {{ partial "blocks/block-awards-loop" . }}
    {{end}}
{{end}}
{{ define "main" }}
    <div id="home-services" class="grid-container block">
        <div class="grid-x grid-padding-x grid-margin-y">
            <div class="cell small-12  small-text-left large-text-right section-heading">
                <div class="home-service-heading">
                    <h2><div class="h-anim">{{.Params.services.heading}}</div></h2>
                </div>
                <div class="home-service-content">
                    <p>{{.Params.services.text}}</p>
                    <a href="/services" class="large button">All our Services</a>
                </div>
            </div>
            <div class="cell small-12">
                <div class="video-player">
                    <video autoplay muted loop preload="auto" controls playsinline id="video-player">
                        <source src="{{ .Params.services.videoFile }}" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="cell small-12">
                <div class="small-text-left large-text-right section-heading">
                <h3 class="h-anim-2">
                    {{.Params.services.subheader}}</h3>
                </div>
                <div class="grid-x grid-padding-x small-up-2 medium-up-4 align-center">
                    {{ range .Params.services.services_list}}
                        <div class="cell text-center">
                            <img src="{{.icon}}" alt="{{.title}}" width="120" height="120">
                            <h4>{{.title}}</h4>
                        </div>
                    {{ end }}
                </div>
            </div>
            <div class="cell small-12 text-center">
                    <a href="/services" class="large button">All our Services</a>
            </div>
        </div>
    </div>
    {{ partial "blocks/block-case-studies" .}}
    {{ partial "blocks/block-clients" .}}
    {{ partial "blocks/block-testimonial" .}}
    {{ partial "blocks/block-awards" .}}
    {{ partial "blocks/block-register" (dict "Context" . "cxt" $)}}

{{ end }}
